body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #eee;
}

#content {
	padding: 20px 60px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.navbar label {
	color: #9d9d9d;
}