<div class="row table-header">
		<div class="col-md-6">
			<p class="pull-left lead">Categories</p>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary glyphicon glyphicon-plus pull-right new-button"
			ng-click="catCtrl.showNewCat(true)"
			ng-hide="catCtrl.new_cat===true">New</button>
			<button class="btn btn-danger glyphicon glyphicon-remove pull-right new-button"
			ng-click="catCtrl.showNewCat(false)"
			ng-show="catCtrl.new_cat===true">Cancel</button>
		</div>
</div>

<div id="new-category" class="round-border" ng-show="catCtrl.new_cat===true">
	<h3 class="text text-center">New Category</h3>
	<form class="form-horizontal" name="newCatForm" ng-submit="catCtrl.save_new()">
	  <div class="form-group">
	    <label for="category-name" class="col-sm-2 control-label">Category Name</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="category-name" name="name" ng-model="name" placeholder="Name*" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="category-description" class="col-sm-2 control-label">Category Description</label>
	    <div class="col-sm-10">
	      <textarea rows="5" type="text" class="form-control" id="category-description" ng-model="description" name="description" placeholder="Description...*" required></textarea>
	    </div>
	  </div>
	  <div class="form-group">
	  	<label for="workflow-options" class="col-sm-2 control-label">Choose workflows:</label>
	    <div class="col-sm-10">
	      <div class="checkbox" name="workflows" id="workflow-options" ng-repeat="workflow in catCtrl.workflows">
	        <label>
	          <input type="checkbox" ng-model="cat_workflows[workflow.id]" value="{{workflow.id}}"> {{workflow.name}}
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary">Create</button>
	    </div>
	  </div>
	</form>
	<hr>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-repeat="cat in catCtrl.categories">
    <div class="panel-heading" role="tab" id="{{'heading-' + cat.id }}">
      <h4 class="panel-title" ng-class="{editing: catCtrl.isediting(cat.id)}">
      	<span ng-show="catCtrl.isediting(cat.id)">*</span>
        <a ng-hide="catCtrl.isediting(cat.id)" class="collapsed" target="_self" data-toggle="collapse" href="{{'#collapse-' + cat.id }}" aria-expanded="false" aria-controls="{{'collapse-' + cat.id }}">
          {{cat.name}}
        </a>
        <div class="col-md-6" ng-show="catCtrl.isediting(cat.id)">
	        <input type="text" class="form-control" 
	    	value="{{cat.name}}" ng-model="cat.name">
	    </div>
	    <div class="pull-right hov">
	        <i 	ng-click="catCtrl.delete(cat.id)" 
	        	class="glyphicon glyphicon-trash pull-right"> Delete</i>
	        <i 	ng-hide="catCtrl.isediting(cat.id)" 
	        	ng-click="catCtrl.edit(cat.id)" 
	        	class="glyphicon glyphicon-pencil"> Edit</i>
	        <i 	ng-show="catCtrl.isediting(cat.id)" 
	        	ng-click="catCtrl.save_edits(cat)" 
	        	class="glyphicon glyphicon-ok"> Save</i>
	        <i 	ng-show="catCtrl.isediting(cat.id)" 
	        	ng-click="catCtrl.canceledit(cat.id)" 
	        	class="glyphicon glyphicon-remove"> Cancel</i>
	        </div>
      </h4>
    </div>
    <div id="{{'collapse-' + cat.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{'heading-' + cat.id }}">
      <div class="panel-body">
      	<p class="lead" ng-hide="catCtrl.isediting(cat.id)">
        	{{cat.description}}
    	</p>
    	<div class="col-md-12" ng-show="catCtrl.isediting(cat.id)">
	    	 <textarea class="form-control" rows="5" ng-model="cat.description">{{cat.description}}</textarea>
	    </div>
	    <strong ng-hide="cat.workflows.length > 0">No associated workflows.<br></strong>
	    <div class="row workflow-list" ng-show="cat.workflows.length > 0">
	    	<strong>Workflows:</strong>
		    <table class="table table-striped">
		    	<tr>
		    		<th>Name</th>
		    		<th>Description</th>
		    		<th>Number of Steps</th>
		    		<th></th>
		    	</tr>
		    	<tr ng-repeat="wf_id in cat.workflows">
		    		<td>{{catCtrl.getWorkflow(wf_id).name}}</td>
		    		<td>{{catCtrl.getWorkflow(wf_id).description}}</td>
		    		<td>{{catCtrl.getWorkflow(wf_id).num_steps}}</td>
		    		<td><p class="label label-danger hov">Remove</p></td>
		    	</tr>
		    </table>
		</div>
	    <small class="muted">modified {{cat.last_updated | date:'MM/dd/yyyy @ h:mma'}}</small>
	    <br>
        <small ng-hide="catCtrl.isediting(cat.id)" class="muted">created {{cat.created_on | date:'MM/dd/yyyy @ h:mma'}}</small>
      </div>
    </div>
  </div>
</div>